.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: './../assets/images/girl-logo.jpg';
  background-size: cover;
}

.content {
  padding: 16px;
}

.content > mat-card {
  width: 300px;
}
.mat-card-image {

  height: 300px;
  object-fit: cover;

}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/